body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      /* background: #000000;
      background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 70%) */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[class*=MuiGrid2-root] {
  justify-content: space-between;
}

.css-13cymwt-control {
min-height: 40px !important;
min-width: 200px !important;
max-width: 210px !important
}

[class*=MuiOutlinedInput-root] {
  height: 40px;
  width: 220px;
 
}

[class*=MuiInputBase-root] {
  height: 40px;
  width: 210px;
 
}
button[aria-label="Previous"] {
  margin-left: 90%;
}

